#Dependencias principales para esta aplicación Flash
FlasK>=2.0,<3.0
psycopg2-binary>=2.9
python-dotenv>=1.0
Werkzeug>=2.0,<3.0

#Dependencia para despliegue en Railway (Linux)
gunicorn

#Opcionales para despliegue descomentarlas si las usas)
#waitress>=2.1.0  #windows deployed