{% extends "admin_login.html" %}

{% block content %}

    <p>Admin {{ usuario }} ha iniciado sesión correctamente.<br>
    
    <ul>
        <li><button type="button" onclick="location.href='{{ url_for('mod_usuarios') }}'">Modificar Usuarios</button></li>
        <li><button>Modificar Asignaturas</button></li>
        <li><button>Modificar Horarios</button></li>
        <li><button></button></li>
        <li><button></button></li>
        <li><button></button></li>

    </ul>
    
    
    <a href="{{ url_for('logout') }}" class="btn btn-danger">Cerrar sesión</a>

{% endblock%}